*,
*::after,
*::before{

    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{

    --primary-green:hsl(75, 94%, 57%);
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-gray:hsl(0, 0%, 20%);
    --neutral-darkgray:hsl(0, 0%, 12%);
    --neutral-offblack:hsl(0, 0%, 8%);
}

@font-face{
    src:url(Inter-VariableFont_slnt\,wght.ttf);
    font-family: "Inter";
    /* p sz 14px,
    400 600 700 wt*/
}

body{
    background-color: var(--neutral-offblack);    
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.container{
    
    background-color: var(--neutral-darkgray);
    display:flex;
    flex-direction: column;
    width:24em;
    height:38em;
    justify-content: space-around;
    align-items: center;    
    border-radius: 10px;
    padding: 1.5em;
    
}
.avatar{
    
    width:5.5em;
    border-radius: 42px;
    
}
.social_header,
.header_subtitle,
.description,
.links{
    font-family: "Inter", sans-serif;
    
}
.links_ul{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.links:active{

    background-color: var(--primary-green);
    color: var(--neutral-darkgray);
    font-weight: 700;
    cursor: pointer;

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    color:var(--neutral-white);
    font-weight: 600;
    background-color:var(--neutral-gray);
    border-radius: 10px;
    width:21em;
    height:3em;
    font-size: 0.9rem;
    
}

.social_header{
    color:var(--neutral-white);
    font-weight: 500;
}
.header_subtitle{
    color:var(--primary-green);
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: -1.5em;
}
.description{
    color:var(--neutral-white);
    font-size: 0.9rem;
    font-weight: 300;
}

@media (min-width:320px) and (max-width:375px){
    .container{
    
        background-color: var(--neutral-darkgray);
        display:flex;
        flex-direction: column;
        min-width:auto;
        max-width:18em;
        max-height:35em;
        justify-content: space-around;
        align-items: center;    
        border-radius: 10px;
        padding: 1.0em;
        
    }
    .description{
        color:var(--neutral-white);
        font-size: 0.8rem;
        font-weight: 300;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        color:var(--neutral-white);
        font-weight: 600;
        background-color:var(--neutral-gray);
        border-radius: 10px;
        max-width:16em;
        height:2.5em;
        font-size: 0.9rem;
        
        
    }
    
}


@media (min-width:376px) and (max-width:500px){
    .container{
    
        background-color: var(--neutral-darkgray);
        display:flex;
        flex-direction: column;
        min-width:auto;
        max-width:20.5em;
        height:37.5em;
        justify-content: space-around;
        align-items: center;    
        border-radius: 10px;
        padding: 1.5em;
        
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        color:var(--neutral-white);
        font-weight: 600;
        background-color:var(--neutral-gray);
        border-radius: 10px;
        max-width:20em;
        height:3em;
        font-size: 0.9rem;
        
    }
    
}

